<%- include("../header"); %>
<div class="col-12">
  <h1>Profesores</h1>
  <a href="/profesor/agregar" class="btn btn-primary mb-2">Agregar</a>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Documento de Identificación</th>
        <th>Nombre completo</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Contraseña</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <% profesor.forEach(profesor=> { %>
      <tr>
        <td><%= profesor.doc_id %></td>
        <td><%= profesor.nombre_completo %></td>
        <td><%= profesor.email %></td>
        <td><%= profesor.telefono %></td>
        <td><%= profesor.contrasena %></td>
        <td>
          <a
            href="/profesor/editar/<%= profesor.doc_id %>"
            class="btn btn-warning"
          >
            Editar
          </a>
        </td>
        <td>
          <a
            href="/profesor/eliminar/<%= profesor.doc_id %>"
            class="btn btn-danger"
          >
            Eliminar
          </a>
        </td>
      </tr>
      <% })%>
    </tbody>
  </table>
</div>
<%- include("../footer"); %>
