<%- include("../header"); %>
<div class="col-12">
  <h1>Cursos</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID curso</th>
        <th>Info clase</th>
        <th>Nombre</th>
        <th>Categoria</th>
        <th>Fecha de inicio</th>
        <th>Fecha de finalización</th>
      </tr>
    </thead>
    <tbody>
      <% curso.forEach(curso=> { %>
      <tr>
        <td><%= curso.id_curso %></td>
        <td><a href="/verinfocurso/<%= curso.id_info %>"><%= curso.id_info %></td>
        <td><%= curso.nombre %></td>
        <td><%= curso.categoria %></td>
        <td><%= curso.fecha_inicio.toLocaleDateString('Es-es', { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' }) %></td>
        <td><%= curso.fecha_fin.toLocaleDateString('Es-es', { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' }) %></td>
      </tr>
      <% })%>
    </tbody>
  </table>
</div>
<%- include("../footer"); %>
