<%- include("../header"); %>
<div class="col-12">
  <h1>Cursos</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Precio</th>
        <th>URL</th>
        <th>Año</th>
        <th>Semestre</th>
        <th>Profesor</th>
      </tr>
    </thead>
    <tbody>
      <% curso.forEach(curso=> { %>
      <tr>
        <td><%= curso.precio %></td>
        <td><%= curso.url %></td>
        <td><%= curso.año %></td>
        <td><%= curso.semestre %></td>
        <td><%= curso.nombre_completo %></td>
      </tr>
      <% })%>
    </tbody>
  </table>
  <h1>Listado de Estudiantes</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID Estudiante</th>
        <th>Nombre completo</th>
      </tr>
    </thead>
    <tbody>
      <% estudiante.forEach(estudiante=> { %>
      <tr>
        <td><%= estudiante.id_estudiante %></td>
        <td><%= estudiante.nombre_completo %></td>
      </tr>
      <% })%>
    </tbody>
  </table>
</div>
<%- include("../footer"); %>
