<%- include("../header"); %>
<div class="col-12">
  <h1>Cursos</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Precio</th>
        <th>URL</th>
        <th>Año</th>
        <th>Semestre</th>
        <th>Profesor</th>
      </tr>
    </thead>
    <tbody>
      <% curso.forEach(curso=> { %>
      <tr>
        <td><%= curso.precio %></td>
        <td><%= curso.url %></td>
        <td><%= curso.año %></td>
        <td><%= curso.semestre %></td>
        <td><%= curso.nombre_completo %></td>
      </tr>
      <% })%>
    </tbody>
  </table>
  <h1>Listado de Estudiantes</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID Estudiante</th>
        <th>Nombre completo</th>
      </tr>
    </thead>
    <tbody>
      <% estudiante.forEach(estudiante=> { %>
      <tr>
        <td><%= estudiante.id_estudiante %></td>
        <td><%= estudiante.nombre_completo %></td>
      </tr>
      <% })%>
    </tbody>
  </table>
  <h1>Tareas</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nombre tarea</th>
        <th>Descripcion</th>
        <th>Fecha de Entrega</th>
        <th>Archivo</th>
      </tr>
    </thead>
    <tbody>
      <% tarea.forEach(tarea=> { %>
      <tr>
        <td><%= tarea.nombre_tarea %></td>
        <td><%= tarea.descripcion %></td>
        <td><%= tarea.fecha_entrega.toLocaleDateString('Es-es', { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' }) %></td>
        <td><%= tarea.archivo %></td>
      </tr>
      <% })%>
    </tbody>
  </table>
  <h1>Materiales</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Archivo</th>
        <th>Descripcion</th>
        <th>Fecha de Creacion</th>
      </tr>
    </thead>
    <tbody>
      <% material.forEach(material=> { %>
      <tr>
        <td><%= material.nombre_archivo %></td>
        <td><%= material.descripcion %></td>
        <td><%= material.fecha_creacion.toLocaleDateString('Es-es', { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' }) %></td>
      </tr>
      <% })%>
    </tbody>
  </table>
  <h1>Foros</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Fecha de Creacion</th>
      </tr>
    </thead>
    <tbody>
      <% foro.forEach(foro=> { %>
      <tr>
        <td><%= foro.nombre %></td>
        <td><%= foro.descripcion %></td>
        <td><%= foro.fecha_creacion.toLocaleDateString('Es-es', { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' }) %></td>
      </tr>
      <% })%>
    </tbody>
  </table>
</div>
<%- include("../footer"); %>
